<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>

    <style type="text/css">
        .ng-invalid.ng-dirty {
            border-color:red;
        }
        .ng-valid.ng-dirty{
            border-color: green;
        }
        input, textarea {
            border: 2px solid;
        }
    </style>
</head>


<body ng-app="myApp">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>


    <div ng-controller="MyController">
       <h2>Reviews</h2>
       <div ng-repeat="review in reviews">
        <div style="background-color: #EEEEEE">
            <p>{{review.comment}}</p>
            <p><b>{{review.by}}</b></p>
        </div>
       </div>

       <form name="reviewForm" ng-submit="reviewForm.$valid && addReview()" novalidate>
        <p>{{form.comment}}</p><br>
        <p>{{form.by}}</p><br>

        <label>Comment</label><br>
        <textarea ng-model="form.comment" name="comment" id="comment" required></textarea><br>
        <label>Author</label><br>
        <input ng-model="form.by" type="email" required><br>
        <input type="submit" value="Add Review"><br>

        <p>Form valid? {{reviewForm.$valid}}</p>

        <div ng-include="'userinfo.html">
        <userinformation></userinformation>
        <div userinformation></div>

        </div>


       </form>
    </div>

</div>

</body>
</html>

<!-- Initial => ng-invalid / ng-pristine
Invalid => ng-invalid / ng-dirty
Valid   => ng-valid / ng-dirty -->