<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="myApp">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>


    <div ng-controller="MyController">
        <div ng-repeat="employee in employees">
            <p>Firstname is {{employee.fname | uppercase}}</p>
            <p>Firstname is {{employee.fname | limitTo:3}}</p>
            <p>Firstname is {{employee.fname | uppercase | limitTo:3}}</p>

            <p>Lastname is {{employee.lname | lowercase}}</p>
            <p>Salary is {{employee.salary | currency}}</p>
        </div>

    <hr>
        
    <div ng-repeat="employee in employees | limitTo:2">
            <p>Firstname is {{employee.fname | uppercase}}</p>
            <p>Lastname is {{employee.lname | lowercase}}</p>
            <p>Salary is {{employee.salary | currency}}</p>
    </div>

    <hr>
    
    <div ng-repeat="employee in employees | orderBy:'salary'">
        <p>Firstname is {{employee.fname | uppercase}}</p>
        <p>Lastname is {{employee.lname | lowercase}}</p>
        <p>Salary is {{employee.salary | currency}}</p>
    </div>
</div>

</div>

</body>
</html>